.LoginContainer{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
}

.LoginUsername{
    text-align: center;
    border-radius: 20px;
    background-color: #183d6c;
    color: white
}

.LoginPassword{
    text-align: center;
    border-radius: 20px;
    background-color: #183d6c;
    color: white
}

.LoginText{
    text-align: center;
    border-radius: 20px;
    background-color: #183d6c;
    color: white
}